@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    position: relative;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    color: #303030;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #303030;
    display: block;
    font-weight: 600;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.bg {
    position: absolute;
    width: 700px;
    z-index: -1;
    right: 0;
}

.esp {
    position: absolute;
    top: 700px;
    bottom: 0;
    width: 350px;
}

.header-info {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.header-txt {
    width: 50%;
    padding-right: 35px;
}

.header-txt h1 {
    font-size: 55px;
    line-height: 70px;
    font-weight: 600;
    color: #303030;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.header-txt p {
    font-size: 16px;
    color: #545454;
    margin-bottom: 35px;
}

.btn-1 {
    display: inline-block;
    background-color: #ff9f0d;
    padding: 13px 30px;
    border-radius: 25px;
    color: #ffffff;
    text-transform: capitalize;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
}

.btn-1:hover {
    background-color: #EE9003;
}

.header-img {
    width: 50%;
}

.header-img img {
    width: 650px;
}   

.info {
    padding: 100px;
    display: flex;
    justify-content: space-between;
}

.info-1 {
    width: 300px;
    padding: 15px 25px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.1);
    border-radius: 20px;
}

.info-1 img {
    width: 35px;
}

.info-1 h3 {
    font-size: 18px;
    color: #303030;
    margin-bottom: 10px;
}

.info-1 p {
    font-size: 16px;
    color: #545454;
}

.nosotros {
    position: relative;
}

.bg-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    z-index: -1;
}

.nosotros-info {
    display: flex;
    align-items: center;
    padding: 100px 0;
}

.nosotros-img {
    width: 50%;
}

.nosotros-img img {
    width: 650px;
}

.nosotros-txt {
    width: 50%;
}

.nosotros-txt span {
    font-size: 16px;
    color: #ff9f0d;
    font-weight: 700;
    margin-bottom: 25px;
}

.nosotros-txt h2 {
    font-size: 45px;
    color: #545454;
    margin-bottom: 30px;
}

.nosotros-txt p {
    font-size: 18px;
    color: #545454;
    margin-bottom: 50px;
}

.products {
    padding: 80px 0;
    text-align: center;
}

.products h2 {
    font-size: 45px;
    color: #303030;
    margin-bottom: 30px;
}

.products p {
    font-size: 18px;
    color: #545454;
    margin-bottom: 70px;
    padding: 0 200px;
}

.product-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 3rem;
}

.product {
   padding-bottom: 35px;
   text-align: center;
   box-shadow: 0 0 20px rgb(0, 0, 0, 0.1);
   border-radius: 25px;
}

.product img {
    width: 100%;
    height: 250px;
    border-radius: 25px 25px 0 0;
}

.product h3 {
    font-size: 20px;
    color: #303030;
    margin-top: 15px;
}

.product p {
    font-size: 16px;
    padding: 30px;
    color: #545454;
    margin: 0;
}

.product span {
    background-color: #ff9f0d;
    padding: 10px;
    color: #ffffff;
    border-radius: 15px;
}

hr {
    border: 1px solid #EEE;
}

.footer {
    padding: 100px 0;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 20px;
    color: #303030;
    margin-bottom: 20px;
}

.socials img {
    margin-right: 15px;
}

a {
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    color: #545454;
}

@media(max-width: 991px) {
    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background-color: #303030;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    .menu .navbar ul li a {
        color: #ffffff;
    }

    .menu .navbar ul li a:hover {
        color: #bebebe;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .bg {
        width: 500px;
    }

    .esp {
        display: none;
    }

    .header-info {
        flex-direction: column;
        padding: 30px;
    }

    .header-txt {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .header-txt h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .header-img {
        width: 100%;
        text-align: center;
        padding-top: 35px;
    }

    .header-img img {
        width: 300px;
    }

    .info {
        padding: 0px;
        flex-direction: column;
        align-items: center;
    }

    .info-1 {
        margin-bottom: 20px;
    }

    .nosotros {
        padding: 30px;
    }

    .bg-2 {
        top: 80px;
        width: 200px;
    }

    .nosotros-info {
        padding: 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nosotros-img {
        width: 100%;
    }

    .nosotros-img img {
        width: 300px;
    }  

    .nosotros-txt {
        width: 100%;
    }

    .nosotros-txt h2 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 10px;
    }

    .nosotros-txt p {
        margin-bottom: 20px;
    }

    .nosotros-txt span {
        color: #ffffff;
    }

    .products {
        padding: 30px;
        text-align: center;
    }

    .products h2 {
        font-size: 40px;
    }

    .products p {
        padding: 0;
        margin-bottom: 40px;
    }

    .product-info {
        grid-template-columns: repeat(1, 1fr);
    }

    .product p {
        padding: 30px;
    }

    .footer {
        padding: 30px;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .socials {
        margin-bottom: 25px;
    }
}